<!doctype html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/yeti/bootstrap.min.css">
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="angular.js"></script>
	<script src="angular-ui-bootstrap.js"></script>
	<script src="ngStorage.min.js"></script>
	<script src="angular-charts.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<style>
		.chart{
			height:400px;
			max-width:80%;
			margin: auto;
		}
	</style>
</head>
<body ng-app="counters_app" ng-controller="MainCtrl" ng-cloak>
	<div class="container-fluid">
		<div class="row">
			<div class="col col-xs-4"><h2>Vehicle Counters Report</h2></div>
			<div class="col-xs-7 text-right"><h5>{{auth.username}}</h5></div>
			<div class="col-xs-1 text-right"><h5><a ng-click = "logout()" class='text-danger'><u>logout</u></a></h5></div>
		</div>
	</div>
	<div class='container-fluid' ng-if='!auth.token'>
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<form class="form-horizontal" role="form">
					<div class="form-group">
					<div class="col-xs-12" style="height:50px;"></div>
						<label for="inputEmail3" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model='auth.username'>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model='auth.password'>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model='auth.set'> Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary" ng-click='login()'>Login</button>
						</div>
					</div>
				</form>
				<div class="col-xs-12">
					<p ng-show='auth.token'>token = {{auth.token}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" ng-if='auth.token'>
		<div class="row">
			<div class="col-xs-4" style='height: 400px; overflow: scroll;'>
				<input type="text" class='form-control col-xs-4' ng-model='vehicle_filter' placeholder='Search vehicles'>
				<table class='table' style='width:100%;'>
					<tr
					ng-repeat='vehicle in vehicles | filter: vehicle_filter'
					ng-class='{"bg-warning":($index+1)%2&&vehicle.id!=selected_vehicle.id, "bg-primary":vehicle == selected_vehicle}'
					ng-click='select_vehicle(vehicle)'>
						<td>{{vehicle.id}}</td>
						<td>{{vehicle.name}}</td>
						<td>{{vehicle.device}}</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-6">
						<h3>From</h3>
						<div style="display:inline-block; min-height:290px;">
							<datepicker ng-model="dts.from" show-weeks="true" class="well well-sm"></datepicker>
						</div>
					</div>
					<div class="col-xs-6">
						<h3>To</h3>
						<div style="display:inline-block; min-height:290px;">
							<datepicker ng-model="dts.to" show-weeks="true" class="well well-sm"></datepicker>
						</div>
					</div>
					<div class="col-xs-10">
						<div class="col-xs-12 text-center">
							<button class="btn btn-default" ng-disabled='selected_vehicle==null' ng-click='generate_report()'>Generate Report</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="report_data">
			<div class="col-xs-12">
				<h4>{{selected_vehicle.name}}</h4>
			</div>
			<div class='col-xs-12'>
				<select class='form-control' name="" id="" ng-options='t for t in types' ng-model='distance_type' style="max-width: 80%; margin: auto"></select>
				<div ac-chart="distance_type" ac-data="distance_data" ac-config="distance_config" id='chart' class='chart'></div> <br>

				<select class='form-control' name="" id="" ng-options='t for t in types' ng-model='engine_type' style="max-width: 80%; margin: auto"></select>
				<div ac-chart="engine_type" ac-data="engine_data" ac-config="engine_config" id='chart' class='chart' "></div>
			</div>
			<div class="col-xs-12" style='height: 500px; overflow: scroll;'>
				<br><br>
				<table class='table'>
					<tr>
						<th>Date</th>
						<th ng-repeat=' (k,v) in report_data.counters[0]' ng-if='k != "time"'>{{k}}</th>
					</tr>
					<tr ng-repeat="d in report_data.counters" ng-class='{"bg-warning":($index+1)%2}'>
						<td>
							{{d.event_time | limitTo:10 }}
						</td>
						<td ng-repeat='(k,v) in d' ng-if='k != "time" '>
							{{v | number:2}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		server = 'https://pegasus1.pegasusgateway.com/api/'
		counters_app = angular.module('counters_app', ['ui.bootstrap','ngStorage','angularCharts']);
		counters_app.controller('MainCtrl', function($scope,$http,$localStorage) {
			$scope.auth = $localStorage.auth || {}
//-----------------select type graphics-----------------------------------------------//
			$scope.types=['pie', 'bar', 'line', 'point', 'area']

			$scope.distance_type = 'bar'
			$scope.engine_type = 'line'

			$scope.vehicles = []
//-----------------save information-------------------------------------------------------//
			$localStorage.$reset()
			$localStorage.$default({auth:$scope.auth, report_data:null, vehicle:{} })
			$scope.report_data = $localStorage.report_data
			$scope.selected_vehicle = $localStorage.vehicle

			$scope.dateOptions = {
				formatYear: 'yyyy',
				startingDay: 1
			};
//--------------------Date for graphics---------------------------------------------// 
			$scope.dts={
				from : new Date(),
				to: new Date()
			}
//-------------------------login check user----------------------------------------//
			$scope.login_check = function(){
				$http.get(server+'login')
				.success(function(data) {
					console.log('all good')
					$scope.getVehicles()
				})
				.error(function(data,s,h) {
					$scope.auth.token = undefined
					console.log("-----Error-----")
				});
			}
//-------------------------logout user----------------------------------------//
			$scope.logout = function(){
				$http.get(server+'logout')
				.success(function(data) {
					console.log('logged out')
					$localStorage.auth = $scope.auth
					$scope.auth.token = undefined
				})
				.error(function(data,s,h) {
					console.log("-----Error-----")
				});
			}
//-------------------------login user----------------------------------------//
			$scope.login = function(){
				$http.post(server+'login',$scope.auth)
				.success(function(data) {
					$scope.message = data.message
					$scope.auth.token = data.auth
					if($scope.auth.save){
						$localStorage.auth=auth
					}
					$http.defaults.headers.common.Authenticate = data.auth
					$scope.getVehicles()
				})
				.error(function(data,s,h) {
					console.log(data,s,h)
					console.log("-----Error-----")
				});
			}

//-------------------------get vehicles----------------------------------------//
			$scope.getVehicles = function(page){
				if (page == null){page = 1}
				$http.get(server+'vehicles?page='+page)
				.success(function(data, s, h) {
					$scope.vehicles = $scope.vehicles.concat(data.data)
					if (page != data.pages){
						$scope.getVehicles(page+1)
					}

				})
				.error(function(data,s,h) {
					console.log(data,s,h)
					console.log("-----Error-----")
				});
			}
			// $scope.test = function(a){
			// 	console.log(a)
			// }
//------------------------Selected vehicle --------------------------------------------//
			$scope.select_vehicle = function(vehicle){
				$scope.selected_vehicle = vehicle
				$localStorage.vehicle = vehicle
				
			}
			$scope.generate_report = function(){
				from_date = $scope.dts.from
				to_date = $scope.dts.to

				from = from_date.getFullYear()+'-'+(from_date.getMonth()+1)+'-'+from_date.getDate()
				to = to_date.getFullYear()+'-'+(to_date.getMonth()+1)+'-'+to_date.getDate()
				$http.get(server+'counters?vehicles='+$scope.selected_vehicle.id+'&from='+from+'T00:00:00&to='+to+'T23:59:59&delta=1D&distance=user&volume=user&time=hour')
				.success(function(counters){
					$scope.report_data = counters
					$localStorage.report_data = counters
					$scope.process()
				})
			}
//------------------------generate graphics --------------------------------------------//
			$scope.process = function(){
				$scope.distance_config = {
					title: 'Distance, ' +$scope.report_data.units.distance+'s', 
					tooltips: true,
					labels: false, 
					mouseover: function() {},
					mouseout: function() {},
					click: function() {},
					legend: {
						display: true, 
						position: 'right',
						htmlEnabled: true
					},
					lineLegend: 'traditional', 
					lineCurveType: 'cardinal',
					isAnimate: true, 
					yAxisTickFormat: 's', 
					xAxisMaxTicks: 7 
				};
				data = {}
				data.series = ['&nbsp;Distance']
				data.data = []
				console.log($scope.report_data);
				$scope.report_data.counters.forEach(function(value, index, array){
					o = {}
					d = new Date(value.event_time)
					o.x = d.getMonth()+1+'-'+(d.getDate()+1)
					o.y = [value.distance]
					o.tooltip = value.distance + ' ' +$scope.report_data.units.distance+'s'
					data.data.push(o)
				})
				$scope.distance_data = data

				$scope.engine_config = {
					title: 'Engine On/Idle', 
					tooltips: true,
					labels: false, 
					mouseover: function() {},
					mouseout: function() {},
					click: function() {},
					legend: {
						display: true, 
						position: 'right',
						htmlEnabled: true
					},
					colors: ['rgba(255,0,0,.5)','rgba(0,255,0,.5)'],
					lineLegend: 'traditional', 
					lineCurveType: 'cardinal', 
					isAnimate: true, 
					yAxisTickFormat: 's', 
					xAxisMaxTicks: 7 
				};
				data = {}
				data.series = ['&nbsp;ON', '&nbsp;Idle']
				data.data = []
				console.log("reprte", $scope.report_data);
				console.log("rpt", $scope.report_data.counters[0]);
				
				$scope.report_data.counters.forEach(function(value, index, array){
					o = {}
					d = new Date(value.from)
					o.x = d.getMonth()+1+'-'+(d.getDate()+1)
					o.y = [value.ignition, value.idle]
					o.tooltip = value.ignition + ' ' +$scope.report_data.units.time+'s On & '+(value.idle/60).toFixed(2)+' mins Idling'
					data.data.push(o)
				})
				$scope.engine_data = data
			}
//-------------------auth  token-------------------------------------------------------------//
			if($scope.auth.token){
				$http.defaults.headers.common.Authenticate = $scope.auth.token
				$scope.login_check()
			}
		})
	</script>
</body>
</html>
