<!doctype html>
<html style="height:100%">
	<head>
		<title>Syrus Web Socket Tester</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
		<script src="main.coffee" type='text/coffeescript'></script>
		<script src="coffee-script.js"></script>
		<style>
			.md-errors-spacer {
				min-height: 0px !important;
			}
		</style>
	</head>
	<body ng-controller="MainCtrl" layout="column" layout-padding>
		<div layout="row" flex="none" ng-if="vehicles_lis.length">
			<h3 class="md-display-1">Live Communications</h3>
			<span flex></span>
			<md-button class="md-accent" ng-click="logout()">logout</md-button>
		</div>
		<span class="md-headline">API: {{auth.pegasus}}</span>
		<span class="md-title" >{{auth.username}}</span>
		<div
			layout="row" 
			ng-if="!vehicles_lis.length"
			layout-align="center center">
			<div layout="column" flex="30">
				<md-input-container md-no-float>
					<label>Username</label>
					<input type="text" placeholder="Search" ng-model='auth.username'>
				</md-input-container>
				<md-input-container md-no-float>
					<label>Password</label>
					<input type="password" placeholder="Search" ng-model='auth.password'>
				</md-input-container>
				<md-button class="md-primary md-raised" ng-click='authenticate();'
					ng-disabled='!(auth.pegasus.length && auth.username.length && auth.password.length)'>
					Sign in
				</md-button>
			</div>
		</div>
		<div layout="column" flex ng-if="vehicles_lis.length > 0">
			<div layout="row" layout-align="start center">
				<md-input-container md-no-float flex>
					<md-icon>search</md-icon>
					<input type="text" placeholder="Search" ng-model='_filter'>
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="listen('all')">All</md-button>
				<md-button class="md-raised md-warn" ng-click="stop('all')">Stop All</md-button>
			</div>
			<md-content
				
				layout="row" layout-wrap
				class="md-whiteframe-z1"
				style='height: 194px;'>
				<div
					flex="25"
					layout="row"
					layout-align="center center"
					mmd-colors="{'border-color':'primary-A100'}"
					sstyle='border-style:solid; border-width:1px;'
					class="text-center md-whiteframe-z1"
					ng-repeat='vehicle in vehicles_lis | filter: _filter'
					ng-click='toggle(vehicle.id)'
					ng-class='{"bg-info": listening.indexOf(vehicle.id) >= 0 }'>
					<span>{{vehicle.name}}</span>
				</div>
			</md-content>
			<!-- </div> -->
		</div>
		<div layout="row" layout-align="start center" flex="none" layout-margin ng-show="logs.length > 0">
			<p class="md-body-2">Console<p>
			<md-button class='md-raised' ng-click='logs=[]'>Clear</md-button>
		</div>
		<md-content  id="scrollme" flex layout="column" class="md-margin md-whiteframe-z1" ng-if="logs.length > 0">
			<table class="table table-condensed table-striped table-bordered" style='width:100%; table-layout:fixed'>
				<tr style="width: 50px;">
					<td>Entity</td>
					<td>Online</td>
					<td>Device</td>
					<td>Event time</td>
					<td>System time</td>
					<td>Event rate</td>
				</tr>
				<tr ng-repeat-start="log in logs">
					<td>{{log.primary.name}}<br><span style="font-size:10px;">ID-{{log.primary.id}}</span></td>
					<td>{{log.device.connection.online}}</td>
					<td>{{log.event.device_id}}<br><span style="font-size:10px; text-transform:capitalize;">{{log.device.version.device}} {{log.device.version.number}}</span></td>
					<td>{{log.event.event_time*1000 | date:'medium'}}</td>
					<td>{{log.event.system_time*1000 | date:'medium'}}</td>
					<td>{{(1/event_rate)/60 | number:1}} events per minute</td>
				</tr>
				<tr ng-repeat-end ng-if='log.outb_publish'>
					<td></td>
					<td>Message</td>
					<td class='text-info' colspan='3'>{{log.outb_publish}}</td>
					<td colspan='2'></td>
				</tr>
			</table>
		</md-content>
	</body>
</html>
