<!doctype html>
<html style="height:100%">
	<head>
		<title>Syrus Web Socket Tester</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.css">

		<script src="main.coffee" type='text/coffeescript'></script>
		<script src="coffee-script.js"></script>
	</head>
	<body ng-controller="MainCtrl" layout="column" layout-padding>
		<h3 class="md-display-1">Pegasus Live Communications</h3>
		<div layout="row" flex="none">
			<div layout="column" flex>
				<form class="form">
				  <div class="form-group">
				    <label class="" for="exampleInputURL3">Pegasus</label>
				    <input type="text" class="form-control" id="exampleInputURL3" placeholder="https://gateway.com" ng-model='auth.pegasus'>
				  </div>
				  <div class="form-group">
				    <label class="" for="exampleInputEmail3">Username</label>
				    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="user[@company.com]" ng-model='auth.username'>
				  </div>
				  <div class="form-group">
				    <label class="" for="exampleInputPassword3">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" ng-model='auth.password'>
				  </div>
				  <button type="button" class="btn btn-primary"
				  	ng-click='authenticate()'
				  	ng-disabled='!(auth.pegasus.length && auth.username.length && auth.password.length)'>
				  		Sign in
				  	</button>
				</form>
			</div>
			<div layout="column" flex>
				<div layout="row">
					<p>Vehicles</p>
					<input style="display:inline-block" type="text" class="form-control" id="exampleInputPassword4" placeholder="Search" ng-model='_filter'>
					<button class="btn btn-success" ng-click="listen('all')">All</button>
					<button class="btn btn-danger" ng-click="stop('all')">Stop All</button>
				</div>
				<md-content
					layout="row"
					layout-wrap
					md-colors="{'border-color':'primary-500'}"
					style='height: 262px; border-style:solid; border-width:1px;'>
					<div
						flex="25"
						md-colors="{'border-color':'primary-A100'}"
						style='border-style:solid; border-width:1px;'
						class="text-center"
						ng-repeat='vehicle in vehicles | filter: _filter'
						ng-click='toggle(vehicle)'
						ng-class='{"bg-info": listening.indexOf(vehicle) >= 0 }'>
						<h4>{{vehicle}}</h4>
					</div>
				</md-content>
			</div>
		</div>
		<div layout="row" flex="none">
			<p class="md-body-2">Console<p>
			<button class='btn btn-default' ng-click='logs=[]'>Clear</button>
		</div>
		<md-content id="scrollme" flex layout="column">
			<table class="table table-condensed table-striped" style='width:100%; border: 1px solid black; table-layout:fixed'>
				<tr>
					<td>Primary</td>
					<td>Secondary</td>
					<td>time</td>
					<td>code</td>
					<td>label</td>
					<td>location</td>
				</tr>
				<tr style="padding-top: 10px;" ng-repeat-start="log in logs" ng-click=''>
					<td>{{log.primary.name}}<br><span style="color: #777; font-size: 8px;"> ID-{{log.primary.id}}</span></td>
					<td>{{log.secondary.name}}<br><span style="color: #777; font-size: 8px;"> ID-{{log.secondary.id}}</span></td>
					<td>{{log.event.event_time * 1000 | date:'medium'}}</td>
					<td>{{log.event.code}}</td>
					<td>{{log.event.label || 'trckpt'}}</td>
					<td>{{log.event.lat}},{{log.event.lon}}</td>
				</tr>
				<tr>
					<td style="font-size: 8px; padding-bottom:16px;" class='text-warning' colspan='6' >
						<div style="width:100%; overflow-x:scroll">{{log.event.message}}</div>
					</td>
				</tr>
				<!-- <tr>
					<td>{{log | json}}</td>
				</tr> -->
				<tr ng-repeat-end ng-if='log.outb_publish'>
					<td></td>
					<td>Message</td>
					<td class='text-info' colspan='3'>{{log.outb_publish}}</td>
					<td colspan='2'></td>
				</tr>
			</table>
		</md-content>
	</body>
</html>
