<!doctype html>
<html>
	<head>
		<title>Syrus Web Socket Tester</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<script src="socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
		<script src="main.coffee" type='text/coffeescript'></script>
		<script src="coffee-script.js"></script>
	</head>
	<body layout='column' ng-controller="MainCtrl">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h3>Pegasus Gateway Live Communications</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<form class="form">
					  <div class="form-group">
					    <label class="" for="exampleInputEmail3">Pegasus</label>
					    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="https://gateway.com" ng-model='auth.pegasus'>
					  </div>
					  <div class="form-group">
					    <label class="" for="exampleInputEmail3">Username</label>
					    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="user[@company.com]" ng-model='auth.username'>
					  </div>
					  <div class="form-group">
					    <label class="" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" ng-model='auth.password'>
					  </div>
					  <button type="button" class="btn btn-primary"
					  	ng-click='authenticate()'
					  	ng-disabled='!(auth.pegasus.length && auth.username.length && auth.password.length)'>
					  		Sign in
					  	</button>
					</form>
					<h5 class='text-danger'>{{error}}</h5>
					<h5 class='text-info' style="overflow:auto;">{{message}}</h5>
					<input type="text" class="form-control" id="exampleInputPassword3" placeholder="Search" ng-model='_filter'>
					<button class="btn btn-info" ng-click="listen('all')" >All</button>
					<button class="btn btn-danger" ng-click="stop('all')">Stop All</button>
					<div style='max-height: 400px; overflow-y: scroll'>
						<table class="table table-condensed table-hover">
							<tr ng-repeat='vehicle in vehicles | filter: _filter' ng-click='toggle(vehicle)' ng-class='{"bg-info": listening.indexOf(vehicle) >= 0 }'>
								<td>{{vehicle}}</td>
							</tr>
						</table>
					</div>
				</div>
				<h3>Console</h3>
				<button class='btn btn-default' ng-click='logs=[]'>Clear</button>
				<div class="col-xs-6" style='height: 750px; overflow-y:scroll; border: 1px solid black' id='scrollme'>
					<table class="table table-condensed table-striped">
						<tr>
							<td>ID</td>
							<td>time</td>
							<td>type</td>
							<td>code</td>
							<td>label</td>
						</tr>
						<tr ng-repeat-start="log in logs" ng-click=''>
							<td>{{log.vid}}</td>
							<td>{{log.event_time}}</td>
							<td>{{log.type}}</td>
							<td>{{log.code}}</td>
							<td>{{log.evlabel || 'trckpt'}}</td>
						</tr>
						<tr ng-repeat-end ng-if='log.tx'>
							<td>Message</td>
							<td class='text-info' colspan='4'>{{log.tx}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
