<!doctype html>
<html>
	<head>
		<title>Syrus Web Socket Tester</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
		<script src="main.coffee" type='text/coffeescript'></script>
		<script src="coffee-script.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<div class="container-fluid md-padding">
			<div class="row">
				<div class="col-xs-6">
					<h3>Pegasus Gateway Live Photoloader</h3>
					<form class="form" layout="column" flex>
					  <md-input-container md-no-float>
					    <label>Pegasus</label>
					    <input type="text" placeholder="https://gateway.com" ng-model='auth.pegasus'>
					  </md-input-container>
					  <md-input-container md-no-float>
					    <label>Username</label>
					    <input type="text" placeholder="user[@company.com]" ng-model='auth.username'>
					  </md-input-container>
					  <md-input-container md-no-float>
					    <label>Password</label>
					    <input type="password" placeholder="Password" ng-model='auth.password'>
					  </md-input-container>
					  <span style="text-align:center;" class='text-danger'>{{auth_error}}</span>
					  <md-button class="md-raised md-primary"
					  	ng-click='authenticate()'
					  	ng-disabled='!(auth.pegasus.length && auth.username.length && auth.password.length)'>
					  	Sign in
					  	</md-button>
						</form>
						<md-button class="md-primary md-raised" ng-click="listen('all');" >Select All</md-button>
						<md-button class="md-accent md-raised" ng-click="stop('all');">Stop All</md-button>
					<md-input-container>
						<input type="text" placeholder="Search" ng-model='_filter'>
					</md-input-container>
					<div class="md-margin">
						<div class='row md-whiteframe-1dp' style='height: 262px; overflow-y: scroll;'>
							<div layout="column" class="col-xs-4 text-center md-whiteframe-1dp" ng-repeat='vehicle in vehicles_list | filter: _filter' ng-click='toggle(vehicle.id)' ng-class='{"bg-info": listening.indexOf(vehicle.id) >= 0 }'>
								<B>ID-{{vehicle.id}}</B>
								<span class="md-body-1">{{vehicle.name}}</span>
								<span class="md-caption">{{vehicle.device}}</span>
							</div>
						</div>
					</div>
					<div><pre>{{error}}</pre></div>
				</div>
				<h3>Console <button class="btn btn-default" ng-click="logs=[]">Clear</button></h3>
				<div class="col-xs-6" style="height: 900px; overflow-y:scroll;" id="scrollme" ng-if="logs.length">
					<table class="table table-condensed table-striped">
						<tr>
							<td>Entity</td>
							<td>Time</td>
							<td>Label</td>
						</tr>
						<tr ng-repeat="log in logs">
							<td>{{log.primary.name}} ID-{{log.primary.id}}</td>
							<td>{{log.event.event_time * 1000 | date:'EEEE, MMM d, y h:mm:ss a'}}</td>
							<td>{{log.event.label || 'trckpnt'}}</td>
						</tr>
						<tr>
							<td colspan='5'  ng-if="log_photo_data.length">
								<div>
									<img ng-repeat-start="photo in log_photo_data"  nng-if="photo.status_no == 4"
										ng-src="data:image/jpeg;base64, {{photo.b64data}}" style='width:33%'>
									<pre ng-repeat-end>{{photo.status}} {{photo.imei}}</pre>
									</div>
								
							</td> 
						</tr>
						<tr ng-if='log.taip.indexOf("RTX")'>
							<td></td>
							<td>Message</td>
							<td class='text-warning' colspan='3'>{{log.taip}}</td>
						</tr>
						<!-- <tr ng-repeat-end ng-if='log.outb_publish'>
							<td></td>
							<td>Message</td>
							<td class='text-info' colspan='3'>{{log.outb_publish}}</td>
						</tr> -->
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
