<!doctype html>
<html>
	<head>
		<title>Syrus Web Socket Tester</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
		<!-- <script src="socket.io.js"></script> -->
		<script src="main.coffee" type='text/coffeescript'></script>
		<script src="coffee-script.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<div class="container-fluid md-padding">
			<div class="row">
				<div class="col-xs-12">
					<h4>Pegasus Gateway Live Input/Output Communication</h4>
				</div>
			</div>
			<div class="row" layout-padding>
				<div class="col-xs-6">
					<form class="form" layout="column" flex>
						<md-input-container md-no-float>
							<label>Gateway</label>
							<input type="text" placeholder="https://gateway.com" ng-model='auth.pegasus'>
						</md-input-container>
						<md-input-container md-no-float>
							<label>Username</label>
							<input type="text" placeholder="username" ng-model='auth.username'>
						</md-input-container>
						<md-input-container md-no-float>
							<label>Password</label>
							<input type="password" placeholder="password" ng-model='auth.password'>
						</md-input-container>
						<span style="text-align:center;" class='text-danger'>{{error}}</span>
						<md-button class="md-primary md-raised" ng-click='authenticate();' 
							ng-disabled='!(auth.pegasus.length && auth.username.length && auth.password.length)'>
							Sign in
						</md-button>
					</form>
					<div layout="column" layout-align="start">
						<md-input-container md-no-float flex ng-show="vehicles.length > 0">
							<md-icon>search</md-icon>
							<input type="text" placeholder="Search" ng-model='_filter'>
						<!-- <md-button class="md-raised md-primary" ng-click="listen('all')">All</md-button>
						<md-button class="md-raised md-warn" ng-click="stop('all')">Stop All</md-button> -->
					</div>
					<div class="md-whiteframe-1dp" style='max-height: 400px; overflow-y: scroll' ng-show="vehicles.length > 0">
						<table class="table table-condensed table-hover">
							<tr ng-repeat='vehicle in vehicles_list | filter: _filter' ng-click='toggle(vehicle.id)' ng-class="{'bg-primary': listening.indexOf(vehicle.id) >= 0 }">
								<td>{{vehicle.name}} 
									<span style="float:right;">ID-{{vehicle.id}}
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-xs-6 md-whiteframe-1dp" style='height: 405px;'>
					<h3>Inputs/Outputs</h3>
					<table ng-if-start="ios.vid!=null" class="table table-condensed table-striped">
						<tr>
							<th>Main power</th>
							<th>Ignition</th>
							<th>Input 1</th>
							<th>Input 2</th>
							<th>Input 3</th>
						</tr>
						<tbody>
							<tr>
								<td ng-if="ios.io_pwr" style="color:green;">ON</td>
								<td ng-if="!ios.io_pwr" style="color:red;">OFF</td>
								<td ng-if="ios.io_ign" style="color:green;">ON</td>
								<td ng-if="!ios.io_ign" style="color:red;">OFF</td>
								<td ng-if="ios.io_in1" style="color:green;">ON</td>
								<td ng-if="!ios.io_in1" style="color:red;">OFF</td>
								<td ng-if="ios.io_in2" style="color:green;">ON</td>
								<td ng-if="!ios.io_in2" style="color:red;">OFF</td>
								<td ng-if="ios.io_in3" style="color:green;">ON</td>
								<td ng-if="!ios.io_in3" style="color:red;">OFF</td>
							</tr>
						</tbody>
					</table>
					<br/>
					<table ng-if-end class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>Output 1</th>
								<th>Output 2</th>
							</tr>
							
						</thead>
						<tbody>
							<tr>
								<td ng-if="ios.io_out1" style="color:green;">ON</td>
								<td ng-if="!ios.io_out1" style="color:red;">OFF</td>
								<td ng-if="ios.io_out2" style="color:green;">ON</td>
								<td ng-if="!ios.io_out2" style="color:red;">OFF</td>
							</tr>
							<tr>
								<td>
									<md-button ng-click="modify_output(1, true)" type="button" class="md-raised" style="background-color: green">Activate</md-button>
								</td>
								<td>
									<md-button ng-click="modify_output(2, true)" type="button" class="md-raised" style="background-color: green">Activate</md-button>
								</td>
							</tr>
							<tr>
								<td>
									<md-button ng-click="modify_output(1, false)" type="button" class="md-raised md-warn">Deactivate</md-button>
								</td>
								<td>
									<md-button ng-click="modify_output(2, false)" type="button" class="md-raised md-warn">Deactivate</md-button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div flex='none' layout="row" layout-align="end end" ng-show="logs.length > 0" style="padding-right: 0px;">
					<div ng-if="alert.type=='SUCCESS'" sclass="alert alert-success" flex="none">
						<span>{{alert.msg}} </span>
					</div>
					
					<div ng-if="alert.type=='ERROR'" sclass="alert alert-danger">
						<span>{{alert.msg}}</span>
					</div>
					<md-button class='md-raised' ng-click='logs=[]'>Clear</md-button>
				</div>
				<div class="md-whiteframe-1dp" style='height: 240px; overflow-y:scroll; padding-top: 0px;padding-left: 0px; padding-right: 0px'>
					<md-progress-linear md-mode="indeterminate" ng-if="load" style="position: absolute; width: 935px"></md-progress-linear>
					<div layout-padding>
						<h4>Console</h4>
							
						<table class="table table-condensed table-striped">
							<tr>
								<td>Entity</td>
								<td>Time</td>
								<td>Ignition</td>
								<td>Input 1</td>
								<td>Input 2</td>
								<td>Input 3</td>
								<td>Output 1</td>
								<td>Output 2</td>
							</tr>
							<tr ng-repeat-start="log in logs" ng-click=''>
								<td>{{log.id}}</td>
								<!-- <td>{{log.evtime | date: 'HH:mm:ss'}}</td> -->
								<td>{{log.evtime * 1000 | date:'EEEE, MMM d, y h:mm:ss a'}}</td>
								<td>{{log.io_ign}}</td>
								<td>{{log.io_in1}}</td>
								<td>{{log.io_in2}}</td>
								<td>{{log.io_in3}}</td>
								<td>{{log.io_out1}}</td>
								<td>{{log.io_out2}}</td>
							</tr>
							<tr ng-repeat-end ng-if='log.tx'>
								<td>Message</td>
								<td class='text-info' colspan='4'>{{log.tx}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
