<!doctype html>
<html>
	<head>
		<title>Pegasus API Examples - Rawdata</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
		<!-- <script src="moment.js"></script> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
		<!-- <script src="socket.io.js"></script> -->
		<script src="main.coffee" type='text/coffeescript'></script>
		<script src="coffee-script.js"></script>
	</head>
	<body layout='column' ng-controller="MainCtrl" layout-padding>
		<h3 class="md-display-1">Simple query to Raw Data</h3>
		<div flex="none" layout="row">
			<div layout="column" flex>
				<md-input-container md-no-float>
					<label>Gateway</label>
					<input type="text" placeholder="https://gateway.com" ng-model='auth.pegasus'>
				</md-input-container>
				<md-input-container md-no-float>
					<label>Username</label>
					<input type="text" placeholder="username" ng-model='auth.username'>
				</md-input-container>
				<md-input-container md-no-float>
					<label>Password</label>
					<input type="password" placeholder="password" ng-model='auth.password'>
				</md-input-container>
				<md-button class="md-primary md-raised" ng-click='authenticate();'
					ng-disabled='!(auth.pegasus.length && auth.username.length && auth.password.length)'>
					Sign in
				</md-button>
				<!-- <h5 class='text-danger'>{{error}}</h5>
				<h5 class='text-info' style="overflow:auto;">{{message}}</h5> -->
				<div layout="column" flex>
					<div layout="row" layout-align="start center">
						<md-input-container md-no-float flex>
							<md-icon>search</md-icon>
							<input type="text" placeholder="Search" ng-model='_filter'>
						</md-input-container>
					</div>
					<md-content layout="row" layout-wrap class="md-whiteframe-z1" style='height: 190px;'>
						<div 
							flex="33"
							layout="column" 
							layout-align="center center" 
							class="text-center md-whiteframe-z1"
							ng-if="vehicle.device.version.device == 'syrus'"
							ng-repeat='vehicle in vehicles_list | filter: _filter' ng-click='toggle(vehicle.id)'
							ng-class="{'bg-primary': vehicle.id==id   }">
							<span class="md-body-2">{{vehicle.name}}</span>
							<span class="md-caption">{{vehicle.device.imei}}</span>
							<span class="md-caption" style="text-transform: capitalize;">{{vehicle.device.version.device}} {{vehicle.device.version.number}} {{vehicle.device.version.vkey_interface}}</span>
						</div>
					</md-content>

				</div>
				<div layout="row" ng-if="vehicles_list.length > 0" layout-padding>
					<div layout="column" flex-order="1" flex-order-gt-sm="0">
						<md-subheader>Start Date</md-subheader>
						<md-calendar ng-model="date_from.from"></md-calendar>
					</div>
					<div layout="column" flex-order="1" flex-order-gt-sm="1">
						<md-subheader>End Date</md-subheader>
						<md-calendar ng-model="date_to.to"></md-calendar>
					</div>
					<div layout="column" flex-order="0" flex-order-gt-sm="2">
						<md-subheader>Dates</md-subheader>
						<div>
							<label>Start</label>
							<div>{{date_from.from | date:shortDate}}</div>
						</div>
						<div><label>End</label>
							<div>{{date_to.to | date:shortDate}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-5 md-whiteframe-1dp" style='height: 614px; overflow-y:scroll;padding-top: 0px;padding-left: 0px; padding-right: 0px' id='scrollme'>
					<md-progress-linear md-mode="indeterminate" ng-show="load" style="position: absolute;"></md-progress-linear>
					<table style="font-family:monospace" class="table table-condensed table-striped" >
						<tr>
							<td><b>ID</td>
							<td><b>Event time</td>
							<td><b>Type</td>
							<td><b>Label</td>
							<td><b>Position</td>
							<td><b>Device IMEI</td>
						</tr>
						<tr ng-repeat="log in events_raw">
							<td>{{log.vid}}</td>
							<td>{{log.event_time | date:'MMM d, y h:mm:ss a'}}</td>
							<td>{{log.type}}</td>
							<td>{{log.label}}</td>
							<td><a ng-href="http://maps.google.com/maps?t=m&q=loc:{{log.lat}},{{log.lon}}" target="_blank">{{log.lat}},{{log.lon}}</a></td>
							
							<td>{{log.device_id}}</td>
						</tr>	
					</table>
					<br ng-if="!history.length">					
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
