<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="angular.js"></script>
    <script src="angular-ui-bootstrap.js"></script>
    <script src="ngStorage.min.js"></script>
    <script src="angular-charts.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="counters_app" ng-controller="MainCtrl" ng-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-5"><h2>Vehicle Off Hours Report</h2><h4>API: {{server}}</h4></div>
            <div class="col-xs-6 text-right"><h5>{{auth.username}}</h5></div>
            <div class="col-xs-1 text-right"><h5><a href='' ng-click="logout()" class='text-danger'><u>Logout</u></a></h5></div>
        </div>
    </div>
    <div class='container-fluid' ng-show='!auth.token'>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-12" style="height:150px;"></div>
                        <!-- <label for="inputEmail3" class="col-sm-2 control-label">Username</label> -->
                        <div class="col-sm-10" layout="column">
                            <md-input-container>
                                <input type="text" cclass="form-control" id="inputEmail3" placeholder=" Username (Email)" ng-model='auth.username'>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="inputPassword3" class="col-sm-2 control-label">Password</label> -->
                        <div class="col-sm-10" layout="column">
                            <md-input-container>
                                <input type="password" cclass="form-control" id="inputPassword3" placeholder="Password" ng-model='auth.password'>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model='auth.set'> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <md-button type="submit" class="md-raised md-primary" ng-click='login()'>Login</md-button>
                        </div>
                    </div>
                </form>
                <div class="col-xs-12">
                    <p ng-show='auth.token'>token = {{auth.token}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-show='auth.token'>
        <div class="row">
            <div class="col-xs-4 md-whiteframe-z1" style='height: 400px; overflow: scroll;'>
                <md-input-container flex layout="column" md-no-float class="md-block">
                    <input type="text" ng-model='vehicle_filter' placeholder='Search vehicles'>
                </md-input-container>
                <table class='table' style='width:100%;'>
                    <tr
                    ng-repeat='vehicle in vehicles_list | filter: vehicle_filter'
                    ng-class='{"bg-warning":($index+1)%2&&vehicle.id!=selected_vehicle.id, "bg-primary":vehicle == selected_vehicle}'
                    ng-click='select_vehicle(vehicle)'>
                        <td>{{vehicle.id}}</td>
                        <td>{{vehicle.name}}</td>
                        <td>{{vehicle.device.imei}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-md-6">
                        <h4>From :</h4>
                        <p class="input-group">
                            <input
                            type="text" class="form-control"
                            datepicker-popup="{{format}}"
                            max-date='dts.to'
                            ng-model="dts.from" is-open="dts.open.from"
                            datepicker-options="dateOptions"
                            close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggle_dt('from', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>To: </h4>
                        <p class="input-group">
                            <input
                            type="text" class="form-control"
                            datepicker-popup="{{format}}"
                            min-date='dts.from'
                            max-date='dts.today'
                            ng-model="dts.to" is-open="dts.open.to"
                            datepicker-options="dateOptions"
                            close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggle_dt('to', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <h3>Off Hours: </h3>
                        <h4>Weekdays: </h4>
                        <div class="row">
                            <div class="col-xs-6">
                                Before: <timepicker ng-model="dt.from" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                            </div>
                            <div class="col-xs-6">
                                After : <timepicker ng-model="dt.to" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h4>Weekends: </h4>
                        <label>Same as Weekdays <input type="checkbox" ng-model='dts.same'></label>
                        <div class="row">
                            <div class="col-xs-6" ng-show='!dts.same'>
                                Before: <timepicker ng-model="dt.from" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                            </div>
                            <div class="col-xs-6" ng-show='!dts.same'>
                                After : <timepicker ng-model="dt.to" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-default" ng-disabled='selected_vehicle==null' ng-click='generate_report()'>Generate Report</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show='auth.token'>
            <div class="col-xs-12">
                <h4>{{selected_vehicle.name}}</h4>
            </div>
            <div class="col-xs-12">
                <pre>{{report_data|json}}</pre>
            </div>
        </div>
    </div>

</body>
</html>
